<!-- main-wrapper -->
<div class="main-wrapper">
    <!--  Live Courses -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="font-weight-bold font-2rem">Live Courses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Live Courses -->

    <!--  Live Courses -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Live Courses -->

    <!--  Live Courses -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Live Courses -->

    <!--  Live Courses -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>

          <div class="col-6 col-sm-6 col-md-3 col-lg-3 item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p class="text-muted text-uppercase">Film Maker</p>
            <p><b>Live Courses For Film Makers 1500 INR</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Live Courses -->
  </div>
  <!-- end main-wrapper -->
