  <!-- header -->
  <header class="bg-header">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-10 col-sm-8 col-8">
          <nav class="navbar navbar-expand-sm navbar-dark">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo_preview_rev_1.png" alt="Logo" class="logo" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Browse Courses</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Personal Profile</a>
              </div>
            </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/talent-and-careers'>Talent & Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/live-course'>Live Courses</a>
              </li>    
            </ul>
          </div>  
        </nav>
        </div>
        <div class="col-lg-2 col-sm-4 col-4">
          <ul class="nav nav-tabs user-tab">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">KM</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink='/personal-profile'>Personal Profile</a>
                <a class="dropdown-item" routerLink='/my-courses'>Course Page</a>
                <a class="dropdown-item" routerLink='/build-talent'>Build Your Talent Page</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
      
    </div>
    
  </header>
  <!-- end header -->
