<!-- footer  -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12 col-12">
          <ul class="nav justify-content-xl-between justify-content-lg-between justify-content-sm-center justify-content-around">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="work-with-us.html">Work With Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us Affiliate</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="partners.html">Partnership</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="free-classes.html">Free Classes</a>
              </li> 
          </ul>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <ul class="nav justify-content-center justify-content-lg-end justify-content-xl-end">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-pinterest" aria-hidden="true"></i>
                  </a>
              </li>
          </ul>
        </div>
      </div>
      
    </div>
  </footer>
  <!-- end footer -->
