 <!-- main-wrapper -->
 <div class="main-wrapper">
    <!-- section -->
    <section class="personal-profile bg-rgb-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12 text-center">
            <div class="welcome-user bg-theme-color mb-3 mx-auto">
              <h2 class="km">KM</h2>
            </div>
            <h3><b>My Courses</b></h3>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul
              class="nav nav-pills justify-content-between mb-3"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="Inprogress-tab"
                  data-toggle="pill"
                  href="#Inprogress"
                  role="tab"
                  aria-controls="Inprogress"
                  aria-selected="true"
                  >In Progress</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="Wishlist-tab"
                  data-toggle="pill"
                  href="#Wishlist"
                  role="tab"
                  aria-controls="Wishlist"
                  aria-selected="true"
                  >Wishlist</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="Undertaken-tab"
                  data-toggle="pill"
                  href="#Undertaken"
                  role="tab"
                  aria-controls="Undertaken"
                  aria-selected="true"
                  >Project Undertaken</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="Notes-tab"
                  data-toggle="pill"
                  href="#Notes"
                  role="tab"
                  aria-controls="Notes"
                  aria-selected="true"
                  >My Notes</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="Feedback-tab"
                  data-toggle="pill"
                  href="#Feedback"
                  role="tab"
                  aria-controls="Feedback"
                  aria-selected="true"
                  >Course Feedback</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="Talent-tab"
                  data-toggle="pill"
                  routerLink='/build-talent'
                  role="tab"
                  aria-controls="Talent"
                  aria-selected="true"
                  >Build Your Talent <i class="fas fa-parking-circle"></i
                ></a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="Inprogress"
                role="tabpanel"
                aria-labelledby="Inprogress-tab"
              >
                <div class="row">
                  <div class="item col-md-3">
                    <div class="card">
                      <img
                        src="assets/images/course/1.jpg"
                        alt="Director"
                        class="img-responsive"
                      />
                    </div>
                    <p class="text-muted text-uppercase">Director</p>
                    <p><b>Finding Success Online</b></p>
                    <p class="text-muted text-uppercase">
                      Grow Your Social Following Into a Creative Business
                    </p>
                  </div>
                  <div class="item col-md-3">
                    <div class="card">
                      <img
                        src="assets/images/course/1.jpg"
                        alt="Director"
                        class="img-responsive"
                      />
                    </div>
                    <p class="text-muted text-uppercase">Director</p>
                    <p><b>Finding Success Online</b></p>
                    <p class="text-muted text-uppercase">
                      Grow Your Social Following Into a Creative Business
                    </p>
                  </div>
                  <div class="item col-md-3">
                    <div class="card">
                      <img
                        src="assets/images/course/1.jpg"
                        alt="Director"
                        class="img-responsive"
                      />
                    </div>
                    <p class="text-muted text-uppercase">Director</p>
                    <p><b>Finding Success Online</b></p>
                    <p class="text-muted text-uppercase">
                      Grow Your Social Following Into a Creative Business
                    </p>
                  </div>
                  <div class="item col-md-3">
                    <div class="card">
                      <img
                        src="assets/images/course/1.jpg"
                        alt="Director"
                        class="img-responsive"
                      />
                    </div>
                    <p class="text-muted text-uppercase">Director</p>
                    <p><b>Finding Success Online</b></p>
                    <p class="text-muted text-uppercase">
                      Grow Your Social Following Into a Creative Business
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-wrapper -->