<!-- main-wrapper -->
<div class="main-wrapper">
    <section class="video banner">
      <div class="overlay"></div>
      <video></video>
      <div class="container h-100">
        <div class="d-flex h-100 text-left align-items-left">
          <div class="w-100 text-white">
            <h1 class="font-weight-bold">FRENCH NEW WAVE FILMS</h1>
            <div class="w-100 mt-auto2">
              <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-light btn-block">1500 INR</button>
                </div>
                <div class="col-md-8">
                  <p class="text-capitalize"><b>Location:</b> Online</p>
                </div>
                <br /><br />
                <div class="col-md-3">
                  <button class="btn btn-outline-light btn-block">
                    3 Weeks 10 Modules
                  </button>
                </div>
                <div class="col-md-9">
                  <p class="text-capitalize">
                    <b>Next Dates:</b> Wednesday 12th August, 19:00-20:00
                    INDIAN Time Saturday 26th August, 19:00-20:00 INDIAN Time
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner-strip">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-bookmark" aria-hidden="true"></i>
              <span>Add To Wish List</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-calendar" aria-hidden="true"></i>
              <span>My Notebook</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-chart-line" aria-hidden="true"></i>
              <span>Course Progress</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-comments" aria-hidden="true"></i>
              <span>Discussion Board</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-4">
            <p>
              <i class="fa fa-3x fa-folder-open" aria-hidden="true"></i>
              <span>Projects Undertaken</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--  Section -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12"><br /></div>
          <div class="col-md-4">
            <img
              src="assets/images/advised/1.jpg"
              alt="ADVISED BY"
              class="img-fluid"
            />
            <div class="card m-2">
              <div class="card-body">
                <h4 class="card-title">Elliot Grove</h4>
                <p><b>Instructor</b></p>
                <p class="card-text">
                  Elliot Grove is a Canadian-born film producer who founded
                  both the Raindance Film Festival in 1993 and the British
                  Independent Film Awards in 1998. Lorem Ipsum is simply dummy
                  text of the printing and typesetting industry Lorem Ipsum
                  has been the industry's standard dummy text ever since the
                  1500s when an unknown printer took a galley of type
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="mt-6 font-weight-bold">What You Will Learn</h3>
            <div class="card m-2">
              <div class="card-body p-5">
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  Go Beyond Craft and navigate a career in the filmmaking
                  industry.
                </p>
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  Think strategically for your projects, Yourself and your
                  brand.
                </p>
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  turn your broad aspirations into precise plans.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="mt-6 font-weight-bold">About</h3>
            <div class="card m-2">
              <div class="card-body">
                <h4 class="card-title text-capitalize">
                  Career Surgery For Filmmakers
                </h4>
                <p><b>Live Course</b></p>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry Lorem Ipsum has been Lorem Ipsum is
                  simply dummy text of the printing and typesetting industry
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s when an unknown printer took a galley of
                  type and
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  End Section -->

    <!--  Week 1 -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Week 1</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Director"
                class="img-fluid"
              />
            </div>
            <p><b>Fine Turned Color Grading</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Actor" class="img-fluid" />
            </div>
            <p><b>Sound Recordist</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Week 1 -->

    <!--  Micro Course -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Week 2</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Director"
                class="img-fluid"
              />
            </div>
            <p><b>Fine Turned Color Grading</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Actor" class="img-fluid" />
            </div>
            <p><b>Sound Recordist</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Micro Course -->

    <!--  Live Courses -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Week 3</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Director"
                class="img-fluid"
              />
            </div>
            <p><b>Fine Turned Color Grading</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Actor" class="img-fluid" />
            </div>
            <p><b>Sound Recordist</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Finding Success Online</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Documentary"
                class="img-fluid"
              />
            </div>
            <p><b>Color Palette</b></p>
            <p class="text-muted text-uppercase">Wednesday 12th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Live Courses -->

    <!--  Learn By Profession -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Explore Other Live Courses</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Career Surgery For Filmmakers 1500 INR"
                class="img-fluid"
              />
            </div>
            <p><b>Career Surgery For Filmmakers</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="v" class="img-fluid" />
            </div>
            <p><b>The Lockdown Sessions</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Legal Lockdown Sessions"
                class="img-fluid"
              />
            </div>
            <p><b>Legal Lockdown Sessions</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="Actor" class="img-fluid" />
            </div>
            <p><b>Intro to Film Legals</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Career Surgery For Filmmakers 1500 INR"
                class="img-fluid"
              />
            </div>
            <p><b>Career Surgery For Filmmakers</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
          <div class="item">
            <div class="card">
              <img src="assets/images/course/1.jpg" alt="v" class="img-fluid" />
            </div>
            <p><b>The Lockdown Sessions</b></p>
            <p>1500 INR</p>
            <p class="text-muted text-uppercase">Saturday 18th August</p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Learn By Profession -->
  </div>