
    <!-- main-wrapper -->
    <div class="main-wrapper">
        <!-- section -->
        <section class="personal-profile bg-rgb-dark">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Rohit Sharma</h5>
                    <p class="card-text mt-3 mb-5">3-7 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner-2.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Rahul Verma</h5>
                    <p class="card-text mt-3 mb-5">3-7 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Sunil Sharma</h5>
                    <p class="card-text mt-3 mb-5">3-7 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Kim Laishram</h5>
                    <p class="card-text mt-3 mb-5">5-7 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Abe Spark</h5>
                    <p class="card-text mt-3 mb-5">3-5 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Shmriti Rai</h5>
                    <p class="card-text mt-3 mb-5">7-5 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Rohit Sharma</h5>
                    <p class="card-text mt-3 mb-5">3-5 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Rahul Verma</h5>
                    <p class="card-text mt-3 mb-5">3-7 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 my-2">
                <div class="card profile-card">
                  <div class="card-img-block">
                    <img
                      class="img-fluid"
                      src="assets/images/user-banner.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body card-header text-center pt-5">
                    <img
                      src="assets/images/user.jpg"
                      alt="profile-image"
                      class="profile"
                    />
                    <h5 class="card-title my-2">Nishant Sharma</h5>
                    <p class="card-text mt-3 mb-5">7-10 Year Experience</p>
                  </div>
                  <button
                    class="btn card-footer bg-theme-color"
                    data-target="#modelId"
                    data-toggle="modal"
                  >
                    Connect
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end section -->
      </div>
      <!-- end main-wrapper -->
