 <!-- main-wrapper -->
 <div class="main-wrapper">
    <!-- section -->
    <section class="sign-up">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-10 mx-auto">
            <form action="" role="form" method="GET">
              <div class="form-group text-center">
                <h3>Create CD ID</h3>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input
                      type="text"
                      name="firstname"
                      class="form-control form-control-lg"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input
                      type="text"
                      name="lastname"
                      class="form-control form-control-lg"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input
                      type="text"
                      name="dateofbirth"
                      class="form-control form-control-lg"
                      placeholder="Date Of Birth"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input
                      type="text"
                      name="phone"
                      class="form-control form-control-lg"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  class="form-control form-control-lg"
                  placeholder="New Password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="confirm_password"
                  class="form-control form-control-lg"
                  placeholder="Confirm Password"
                />
              </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" required />
                  Agree To Terms & Conditions
                  <small
                    ><span class="text-theme-color">CountryRegion:</span>
                    India</small
                  >
                </label>
              </div>
              <div class="divider"></div>
              <div class="text-center mt-3 mb-3">
                <p>
                  By Continuing you acknowledge
                  <b>CD Learn Services Terms & Conditions</b>
                </p>
              </div>
              <div class="form-group text-center">
                <button
                  type="submit"
                  class="btn btn-lg bg-theme-color btn-light"
                >
                  Continue
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
  </div>
  <!-- end main-wrapper -->
