 <!-- main-wrapper -->
 <div class="main-wrapper">
    <section class="video banner">
      <div class="overlay"></div>
      <video></video>
      <div class="container h-100">
        <div class="d-flex h-100 text-left align-items-left">
          <div class="w-100 text-white">
            <h1 class="font-weight-bold">FRENCH NEW WAVE FILMS</h1>
            <div class="w-100 mt-auto2">
              <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-light btn-block">1500 INR</button>
                  <button class="btn btn-outline-light btn-block">
                    20 lessons (6 hours)
                  </button>
                </div>
                <div class="col-md-8">
                  <p class="text-capitalize">
                    In The Dark Night of the soul I'ts Always 3:30 in the
                    morning st. America Favorite Morning News Show Is throw
                    into crisis when It Becomes The News.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner-strip">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-bookmark" aria-hidden="true"></i>
              <span>Add To Wish List</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-calendar" aria-hidden="true"></i>
              <span>My Notebook</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-chart-line" aria-hidden="true"></i>
              <span>Course Progress</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-2">
            <p>
              <i class="fa fa-3x fa-comments" aria-hidden="true"></i>
              <span>Discussion Board</span>
            </p>
          </div>
          <div class="col-6 col-sm-3 col-md-4">
            <p>
              <i class="fa fa-3x fa-folder-open" aria-hidden="true"></i>
              <span>Projects Undertaken</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--  Explore Courses -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>
              Lessons
              <small class="font-weight-normal"
                >20 video Lesson (6 Hours)</small
              >
            </h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div
              class="card addtional-materials lessons"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <p class="text-muted text-uppercase font-weight-light">
              Chapter 1
            </p>
            <p>
              <span class="font-weight-normal"
                >Creative Writing: Begin with the body</span
              >
            </p>
            <p class="text-muted text-uppercase">
              Grow Your Social Following Into a Creative Business
            </p>
          </div>

          <div class="item">
            <div
              class="card addtional-materials lessons"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <p class="text-muted text-uppercase font-weight-light">
              Chapter 2
            </p>
            <p>
              <span class="font-weight-normal"
                >Creative Writing: Begin with the body</span
              >
            </p>
            <p class="text-muted text-uppercase">
              Grow Your Social Following Into a Creative Business
            </p>
          </div>
          <div class="item">
            <div
              class="card addtional-materials lessons"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <p class="text-muted text-uppercase font-weight-light">
              Chapter 3
            </p>
            <p>
              <span class="font-weight-normal"
                >Creative Writing: Begin with the body</span
              >
            </p>
            <p class="text-muted text-uppercase">
              Grow Your Social Following Into a Creative Business
            </p>
          </div>

          <div class="item">
            <div
              class="card addtional-materials lessons"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <p class="text-muted text-uppercase font-weight-light">
              Chapter 4
            </p>
            <p>
              <span class="font-weight-normal"
                >Creative Writing: Begin with the body</span
              >
            </p>
            <p class="text-muted text-uppercase">
              Grow Your Social Following Into a Creative Business
            </p>
          </div>

          <div class="item">
            <div
              class="card addtional-materials lessons"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <p class="text-muted text-uppercase font-weight-light">
              Chapter 5
            </p>
            <p>
              <span class="font-weight-normal"
                >Creative Writing: Begin with the body</span
              >
            </p>
            <p class="text-muted text-uppercase">
              Grow Your Social Following Into a Creative Business
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--  End Explore Courses -->

    <!--  Supported Devices -->
    <section class="bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Additional Materials</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme" id="AddCaraosal">
          <div class="item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="text">Class Project</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="text">Downloadable Manual</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div>
                  <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="text">Class Project</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><br /></div>
          <div class="col-md-4">
            <img
              src="assets/images/advised/1.jpg"
              alt="ADVISED BY"
              class="img-fluid"
            />
            <div class="card m-2">
              <div class="card-body">
                <h4 class="card-title">Jennifer Aniston</h4>
                <p><b>Writer & Editor</b></p>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s when an unknown
                  printer took a galley of type and scrambled
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="mt-6 font-weight-bold">What You Will Learn</h3>
            <div class="card m-2">
              <div class="card-body p-5">
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  Be Creative
                </p>
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  Direct
                </p>
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> How To
                  Innovate
                </p>
                <p>
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i> Find
                  Your Inner Strength
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="mt-6 font-weight-bold">About</h3>
            <div class="card m-2">
              <div class="card-body">
                <h4 class="card-title text-capitalize">
                  french new wave films
                </h4>
                <p><b>Course</b></p>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s when an unknown
                  printer took a galley of type and scrambled
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  End Supported Devices -->

    <!--  Explore Courses -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Explore Other Courses</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Director"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Critic"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Cinematographer"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Sound Designer"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Director"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="item">
            <div class="card">
              <img
                src="assets/images/course/1.jpg"
                alt="Critic"
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  End Explore Courses -->
  </div>
