 <!-- main-wrapper -->
 <div class="main-wrapper">
    <!-- section -->
    <section class="welcome bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-10 mx-auto text-center">
            <div class="welcome-user bg-theme-color mb-3">
              <h2>KM</h2>
            </div>
            <h3 class="text-center mb-3">Welcome To Karan Mehra</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="welcome">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mx-auto">
            <h4 class="text-center mb-3">
              Your On Your Journey To Learn Something New
            </h4>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-lg btn-light">
                  Explore Courses
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-lg btn-light">
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
  </div>
  <!-- end main-wrapper -->
