 <!-- main-wrapper -->
 <div class="main-wrapper">
    <!--  Section -->
    <section class="talent-and-careers bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-2">
            <h2>Talents And Courses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/writer'>Writers</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">directors</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">actors</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">cinematographer</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">editor</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">sound editor</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">filmmaker</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">Videographer</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase">Film Editing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  End Section -->
  </div>
