<!-- main-wrapper -->
<div class="main-wrapper">
    <!-- section -->
    <section class="personal-profile bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mx-auto">
            <div class="card profile-card">
              <div class="card-img-block">
                <img
                  class="img-fluid"
                  src="assets/images/user-banner.jpg"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body card-header text-center pt-5">
                <img
                  src="assets/images/user.jpg"
                  alt="profile-image"
                  class="profile"
                />
                <h5 class="card-title my-2">Rahul Verma</h5>
                <p class="card-text mt-3 mb-5">3-7 Year Experience</p>
              </div>
              <button class="btn card-footer bg-theme-color">
                Edit Profile
              </button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mx-auto">
            <div class="py-5">
              <h1>Profile</h1>
              <p class="text-justify">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                used in laying out print, graphic or web designs. The passage
                is attributed to an unknown typesetter in the 15th century who
                is thought to have scrambled parts of Cicero's De Finibus
                Bonorum et Malorum for use in a type specimen book. Lorem
                ipsum, or lipsum as it is sometimes known, is dummy text used
                in laying out print, graphic or web designs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="font-weight-bold font-2rem">Filmography</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>In The Mood For Love</b></p>
            <p class="text-muted text-uppercase">Film Maker</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>2046</b></p>
            <p class="text-muted text-uppercase">Film Maker</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Days Of Being Wild</b></p>
            <p class="text-muted text-uppercase">Film Maker</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="font-weight-bold font-2rem">Award</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Chungking Express</b></p>
            <p class="text-muted text-uppercase">
              AACTA Award For Best Direction
            </p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Ashes of Time</b></p>
            <p class="text-muted text-uppercase">
              AACTA Award For Best Direction
            </p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 item mb-2">
            <div class="card mb-2">
              <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
            </div>
            <p><b>Fallen Angels 1995</b></p>
            <p class="text-muted text-uppercase">
              AACTA Award For Best Direction
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="font-weight-bold font-2rem">My Portfolio</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 item mb-2">
            <div class="card mb-2">
              <!-- <video width="100%" height="auto" controls >
            <source src="https://www.youtube.com/watch?v=M2lWmly04yo" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
              <iframe
                width="100%"
                height="auto"
                class="portfolio-video"
                src="https://www.youtube.com/embed/M2lWmly04yo"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="d-inline-flex">Share On Social Media</p>
            <p class="d-inline-flex">
              <a href="#" class="btn btn-link btn-sm"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="#" class="btn btn-link btn-sm"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="btn btn-link btn-sm"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="btn btn-link btn-sm"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="#" class="btn btn-link btn-sm"
                ><i class="fab fa-pinterest"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
  </div>
  <!-- end main-wrapper -->

