<!DOCTYPE html>
<html lang="en">
<body>
<!-- main-wrapper -->
<div class="main-wrapper">
  
  <div class="banner">
    <div class="banner-text">
      <div class="text-center">
        <p>
          Exclusive Courses Only <br>
          On CD Learn
        </p>
        <a href="#" class="btn btn-lg btn-light">Learn Now</a>
      </div>
    </div>
  </div>

 <!--  Masterclass -->
<section class="bg-rgb-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Masterclass</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Director</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Actor</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Masterclass -->
 

 <!--  Extensive Course -->
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Extensive Course</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Director</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Actor</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Extensive Course -->
 

 <!--  Micro Course -->
<section class="bg-rgb-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Micro Course</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Director</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Actor</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Comedy</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Documentary</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Micro Course -->
 
   

 <!--  Live Courses -->
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Live Courses</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>>
        <p class="text-muted text-uppercase">Filmmaker</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Live Courses -->
 

 <!--  Learn By Profession -->
<section class="bg-rgb-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Learn By Profession</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Director</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Critic</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Cinematographer</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Sound Designer</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Director</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Critic</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Learn By Profession -->


 <!--  Learn By Subject -->
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Learn By Subject</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">

      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Business</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Technical</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Creative</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Artist</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Business</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>
      <div class="item">
        <div class="card">
          <img src="assets/images/course/1.jpg" alt="Comedy" class="img-fluid" />
        </div>
        <p class="text-muted text-uppercase">Technical</p>
        <p><b>Finding Success Online</b></p>
        <p class="text-muted text-uppercase">Grow Your Social Following Into a Creative Business</p>
      </div>

    </div>
  </div>
</section>    
 <!--  End Learn By Subject -->

</div>
<!-- end main-wrapper -->

<!-- javascript -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Owl javascript -->
  <script src="assets/owlcarousel/owl.carousel.js"></script>

  <!-- custom javascript -->
  <script src="assets/js/main.js"></script>
</body>
</html>
